<div id="col-lg-3 col-md-4 col-xs-12">
    <div id="card">
        <div id="card-header">
            <h4>{{name}}</h4>
        </div>
        <div id="card-body text-center">
            <i class="fas fa-mug-shot"><h4 class="card-title">{{title}}</h4></i>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: {{id}}</li>
                    <li class="list-group-item">Email: {{email}}</li>
                    <li class="list-group-item">Number: {{number}}</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>